%h3
  %a{ :name => "bulkhead", :href => "#bulkhead" } bulkhead

%h4{ :name => "bulkhead_overview", :href => "#bulkhead_overview" }
  %a{ :name => "overview", :href => "#bulkhead_overview" } Overview

:markdown
  We replaced the original contoured metal bulkhead with a flat 18mm ply bulkhead with access hatch between the cab and living area.

%hr

%h4
  %a{ :name => "bulkhead_photos", :href => "#bulkhead_photos" } Photos

.row
  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/large/IMG_2047.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2047.JPG" }
      .caption
        %p original bulkhead

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/large/IMG_2209.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2209.JPG" }
      .caption
        %p using original bulkhead as a template

  .clearfix.visible-sm

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/large/IMG_2213.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2213.JPG" }
      .caption
        %p dry fitting lower half of bulkhead

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/large/IMG_2215.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2215.JPG" }
      .caption
        %p dry fit of full bulkhead

  .clearfix.visible-sm

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/large/IMG_2397.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2397.JPG" }
      .caption
        %p cutting the hatch

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/large/IMG_2401.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2401.JPG" }
      .caption pre-fit

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/large/IMG_2403.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2403.JPG" }
      .caption bulkhead in-place
%hr
