%h3
  %a{ :name => "reversing_cameras", :href => "#reversing_cameras" } Reversing Cameras

.row
  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/small/IMG_0036.JPG" }
        %img.img-responsive{ :src => "images/small/IMG_0036.JPG" }

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/small/IMG_0167.JPG" }
        %img.img-responsive{ :src => "images/small/IMG_0167.JPG" }

  .clearfix.visible-sm

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/small/IMG_0165.JPG" }
        %img.img-responsive{ :src => "images/small/IMG_0165.JPG" }

  .col-md-3.col-sm-6.col-xs-12
    .thumbnail
      %a{ :href => "images/small/IMG_0163.JPG" }
        %img.img-responsive{ :src => "images/small/IMG_0163.JPG" }

%hr
