%h3
  %a{ :name => "ceiling", :href => "#ceiling" } ceiling

%h4{ :name => "ceiling_overview", :href => "#ceiling_overview" }
  %a{ :name => "overview", :href => "#ceiling_overview" } Overview

:markdown
  6mm ply ceiling

%hr

%h4
  %a{ :name => "ceiling_photos", :href => "#ceiling_photos" } Photos

.row
  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2629.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2629.JPG" }

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2630.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2630.JPG" }

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2632.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2632.JPG" }
      .caption
        %p adding rigidity to the roof around the skylights

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2633.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2633.JPG" }
      .caption

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2635.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2635.JPG" }
      .caption
        %p first two sections

%hr
