%h3
  %a{ :name => "floor", :href => "#floor" } floor

%h4{ :name => "floor_overview", :href => "#floor_overview" }
  %a{ :name => "overview", :href => "#floor_overview" } Overview

:markdown
  Ply floor.

%hr

%h4
  %a{ :name => "floor_photos", :href => "#floor_photos" } Photos

.row
  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2152.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2152.JPG" }
      .caption
        %p using the original floor as a template

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2153.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2153.JPG" }
      .caption
        %p fitting the first section

  .clearfix.visible-sm

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2622.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2622.JPG" }
      .caption
        %p silicone sealant applied to try and prevent squeaking

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2624.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2624.JPG" }
      .caption
        %p full floor, including holes to allow access to original tie-downs that will later be refit

%hr
