%h3
  %a{ :name => "insulation", :href => "#insulation" } insulation

%h4{ :name => "insulation_overview", :href => "#insulation_overview" }
  %a{ :name => "overview", :href => "#insulation_overview" } Overview

:markdown
  Insulating the van.
%hr

%h4
  %a{ :name => "insulation_photos", :href => "#insulation_photos" } Photos

.row
  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2063.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2063.JPG" }
      .caption
        %p floor as clean as possible

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2067.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2067.JPG" }
      .caption
        %p ply strips glued and screwed to metal struts running along the van and across the ceiling. Yellow tape added to prevent spray insulation sticking.

  .clearfix.visible-sm

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2085.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2085.JPG" }
      .caption
        %p floor sections for insluation to build up against and adhear to

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2120.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2120.JPG" }
      .caption
        %p van after spray insluation

  .clearfix.visible-sm

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2143.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2143.JPG" }
      .caption
        %p tape removed

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2207.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2207.JPG" }
      .caption
        %p condensation causing puddles under the floor

  .clearfix.visible-sm

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2208.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2208.JPG" }
      .caption
        %p following rust water to locate cold spot

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2497.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2497.JPG" }
      .caption
        %p filling gaps missed by initial spray insulation

  .clearfix.visible-sm

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2620.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2620.JPG" }
      .caption
        %p a long flexible sharp knife is the easiest way to cut cured spray foam

  .col-md-12
    .thumbnail
      %a{ :href => "images/large/IMG_2621.JPG" }
        %img.img-responsive{ :src => "images/large/IMG_2621.JPG" }

%hr
