%hr

.col-xs-12
  %h3
    %a{ :name => "sections", :href => "#sections" } Contents

  %ol#menu
    - @toc.each do |heading_level_one|
      %li
        %a{ :href => heading_level_one.link }= heading_level_one.title

      - if heading_level_one.sub_headers[0]

      - ap heading_level_one.sub_headers[0]

        %ol
          - heading_level_one.sub_headers[0].each do |heading_level_two|
            %li
              %a{ :href => heading_level_two.link }= heading_level_two.title


              - if heading_level_two.sub_headers[0]

              - ap heading_level_two.sub_headers[0]

                %ol{ :type => "a" }
                  - heading_level_two.sub_headers[0].each do |heading_level_three|
                    %li
                      %a{ :href => heading_level_three.link }= heading_level_three.title
