#menu h1 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#menu h2 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#menu h3 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#menu h4 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ol {
  padding-left: 10px;
}
