.container

  %br
  %br

  .row
    .col-md-12
      %img.img-responsive.center-block{ :src => "images/small/van5.jpg" }

  .row.text-center
    %h1 Rob's Van
    .lead Converting a 2010 XLWB Mercedes Sprinter to Live in
